<div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <h3 style="font-size: x-large;     color: rgba(0,0,0,.7);">
    </h3>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-grid-list cols="4">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img [src]="previewImage" style="margin:10px;" class="img-size"></div>
        </div>
      </mat-grid-list>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <n-file-upload (change)="preview($event)" #file></n-file-upload><button mat-raised-button mat-dialog-close="mat-dialog-close" color="warn" (click)="cancelUpload(file)">cancel</button>
    </div>
  </div>
</div>