<div fxLayout="row wrap" class="background" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="margin-tb" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h2 style="color:rgba(0,0,0,.7);" class="header">
        Make an Announcement</h2>
    </div>
    <div fxLayout="row wrap" style="width:100%;margin-top: 20px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <mat-card class="announcement-card">
        <mat-card-content>
          <form [formGroup]="announcdetail">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field style="font-size:20px;">
                <textarea matInput [(ngModel)]="dm.announcement.announcement" formControlName="announcement" placeholder="Announcement" required></textarea>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field style="font-size:20px;">
                <textarea matInput [(ngModel)]="dm.announcement.announcement" formControlName="announcement" placeholder="Announcement" required></textarea>
              </mat-form-field>
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-select formControlName="partnerType" placeholder="Select" [(ngModel)]="dm.announcement.partnerType" required>
                  <ng-template ngFor let-option [ngForOf]="announce" let-i="index">
                    <mat-option [value]="option">{{option}}</mat-option>
                  </ng-template>
                </mat-select>

              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="announce-btn" (click)="submit(announcdetail.value)">Announce</button></div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>