<div fxLayout="row wrap" class="background" fxFlex="100" fxLayoutAlign="start none" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" class="margin-tb" fxFlex="100" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h2 style="color:rgba(0,0,0,.7);" class="header">
        Partners Agreement</h2>
    </div>
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start none" [fxShow]="true" [fxHide]="false">
      <mat-card *ngFor="let agreement of agreementData" class="pdf-card-content">
        <mat-card-content style="width:100px;"><img imgSrc="Web/pdfimg.png" class="w-100">
          <div class="thumbnail-title link">
            {{ agreement.name }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>