<div fxLayout="row wrap" class="background" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" class="margin-tb" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="width:100%;">
      <mat-card-content style="width:100%;">
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <h2 style="color:rgba(0,0,0,.7);" class="header">
            Partners Agreement</h2>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>