<div fxLayout="row " class="Membackgd" fxLayoutGap="2.5em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="width:100%;margin-top:5%;height:70%;">
      <mat-card-content>
        <form [formGroup]="profileForm">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <p style="text-align:center;justify-content:center;font-size:30px;">
              Channel Member Registeration</p>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:70%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput name="firstName" placeholder="firstname*" required formControlName="firstName">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-icon>person</mat-icon>
              </div>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:70%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput name="lastName" placeholder="lastname*" required formControlName="lastName">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
                <mat-icon>person</mat-icon>
              </div>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:70%;" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput name="emailId" placeholder="email id*" required formControlName="emailId">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-icon>mail</mat-icon>
              </div>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:70%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput name="userName" placeholder="username" required formControlName="userName">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-icon>group</mat-icon>
              </div>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="width:70%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput name="password" placeholder="password*" required formControlName="password">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <mat-icon>visibility</mat-icon>
              </div>
            </div><button mat-button style="background:blue;color:white;" (click)="submit(profileForm.value)" [disabled]="false" [disableRipple]="true">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>