<div fxLayout="column wrap" style="overflow-y:auto;" class="bg-light-grey" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="row wrap" class="login-logo" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo-dark.png" width="250px"></div>
  <div fxLayout="row wrap" class="w-100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <form [formGroup]="profileForm" fxFlex="50" fxFlex.xs="90" fxFlex.md="50" fxFlex.lg="50">
      <mat-card>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <h1 class="text-warn">
              Channel Member Registration</h1>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput name="firstName" placeholder="First Name" required formControlName="firstName">
                <mat-error align="start" *ngIf="firstName.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
                <mat-error align="start" *ngIf="firstName.hasError(&apos;maxlength&apos;)">can&apos;t be more than 20 characters</mat-error>
                <mat-error align="start" *ngIf="firstName.hasError(&apos;pattern&apos;)">Only Characters</mat-error>
                <mat-label>First Name</mat-label>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput name="lastName" placeholder="Last Name" required formControlName="lastName">
                <mat-error align="start" *ngIf="lastName.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
                <mat-error align="start" *ngIf="lastName.hasError(&apos;maxlength&apos;)">can&apos;t be more than 20 characters</mat-error>
                <mat-error align="start" *ngIf="lastName.hasError(&apos;pattern&apos;)">Only Characters</mat-error>
                <mat-label>Last Name</mat-label>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput name="emailId" placeholder="Email Id" required formControlName="emailId">
                <mat-error align="start" *ngIf="emailId.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
                <mat-error align="start" *ngIf="emailId.hasError(&apos;pattern&apos;)">Invalid Email Id</mat-error>
                <mat-label>Email Id</mat-label>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput name="userName" placeholder="User Name" required formControlName="userName">
                <mat-error align="start" *ngIf="userName.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
                <mat-error align="start" *ngIf="userName.hasError(&apos;pattern&apos;)">No special Characters</mat-error>
                <mat-error align="start" *ngIf="userName.hasError(&apos;maxlength&apos;)">can&apos;t be more than 20 characters</mat-error>
                <mat-label>User Name</mat-label>
                <mat-icon matSuffix>group</mat-icon>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput name="password" placeholder="Password" required formControlName="password" [type]="hide ? &apos;password&apos; : &apos;text&apos;">
                <mat-error align="start" *ngIf="password.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
                <mat-error align="start" *ngIf="password.hasError(&apos;minlength&apos;)">minimum 6 characters</mat-error>
                <mat-error align="start" *ngIf="password.hasError(&apos;maxlength&apos;)">maximum 20 characters</mat-error>
                <mat-label>Password</mat-label>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? &apos;visibility_off&apos; : &apos;visibility&apos;}}</mat-icon>
              </mat-form-field>
            </div><button mat-raised-button color="primary" (click)="submit(profileForm.value)">Submit</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>