<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <h3>
      Row Action :: Delete</h3>
    <h4>
      Sure to delete..?</h4>
    <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="warn">Delete</button><button mat-raised-button>cancel</button></div>
  </div>
</div>