<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <h3>
      Sure to delete..?</h3>
     <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button mat-dialog-close color="warn" (click)="deletedata()">Delete</button><button mat-raised-button mat-dialog-close>cancel</button></div> 
    <!-- <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button mat-dialog-close color="warn" (click)="deletedata(_id)">Delete</button><button mat-raised-button mat-dialog-close>cancel</button></div> -->
  </div>
</div>