<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <mat-card style="width:100%;">
    <mat-card-content>
      <h3>
        Row Action :: Delete</h3>
      <div>
        Sure to delete..?</div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="warn">Delete</button><button mat-raised-button>cancel</button></div>
    </mat-card-content>
  </mat-card>
</div>