<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/certificate.jpg" style="width:300px"></div>
    <div fxLayout="row wrap" style="margin-top:16px;" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <n-file-upload></n-file-upload><button mat-raised-button color="warn">cancel</button>
    </div>
  </div>
</div>