<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="loggedIn" [fxHide]="!loggedIn" fxFill>
  <div fxLayout="column " fxFlex="100" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false" fxFill>
    <mat-toolbar style="width:100%;" class="bg-dark">
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" style="margin:0 16px 0 10px;" fxLayoutAlign="center center" [fxShow]="false" [fxHide]="true" fxShow.xs="true" fxShow.sm="true"><button mat-mini-fab style="background:rgba(241, 8, 8, 0.82); color: #fff;" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button></div><img imgSrc="Web/logo.png" fxFlex.sm="200px" fxFlex.lt-md="150px" width="250px">
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxShow.xs="false" fxShow.sm="false" fxShow.md="falsee">
          <h3>
            {{titleService.getTitle()}}</h3>
        </div>
      </div>
      <div fxLayout="row wrap" style="width: 60%;" class="logout-btn" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false" fxShow.lt-md="false"><button mat-button style="font-size:20px;" (click)="loginservice.logout()">Logout</button></div>
    </mat-toolbar>
    <div fxLayout="column " fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-sidenav-container style="height:100%;margin-top: 55px;" class="sidenav-container" autosize="true" hasBackdrop="false" (backdropClick)="true">
        <mat-sidenav #sidenav style="background:#000;height:100%;" class="sidenav-content" fxLayout="column wrap" [mode]="media.isActive(&apos;lt-md&apos;)?&apos;slide&apos;:&apos;side&apos;" (toggle)="sidenav.toggle()" [position]="&apos;start&apos;" [opened]="media.isActive(&apos;gt-sm&apos;)" autoFocus="false" fixedInViewport="false">
          <div fxLayout="column wrap" style="margin-top:20px;" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="nav-button" routerLinkActive="link-active" routerLink="/admin/partners_list">Partners</button><button mat-button class="nav-button" routerLinkActive="link-active" routerLink="/admin/marketing_collaterals">Marketing Collaterals</button><button mat-button class="nav-button" routerLinkActive="link-active" routerLink="/admin/announcements">Announcements</button><button mat-button class="nav-button" fxshow="false" fxHide="true" fxHide.lt-md="false" (click)="loginservice.logout()">Logout</button></div>
        </mat-sidenav>
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-container>
    </div>
    <footer>
      <h3 class="footer-class">
        @2019 Neutrinos</h3>
    </footer>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="!loggedIn" [fxHide]="loggedIn" fxFill>
  <bh-login [userType]="!loggedIn"></bh-login>
</div>