<div fxLayout="row wrap" style="width:100%;" class="background" fxFlex="100" fxLayoutAlign="start none" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column " style="margin-left:20px;" fxFlex="100" fxLayoutGap="2em" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false" ngStyle.xs="margin-left:0px;">
    <div fxLayout="row wrap" class="margin-tb" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(241, 8, 8, 0.82); color: #fff;" routerLink="/admin/partners_list">
        <mat-icon>keyboard_backspace</mat-icon>
      </button></div>
    <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <form [formGroup]="profileForm" fxFlex="60" fxFlex.xs="100" fxFlex.md="40" fxFlex.lg="40">
        <mat-card class="card-content">
          <mat-card-subtitle class="card-title">Company Details</mat-card-subtitle>

          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false" fxLayout.lt.md="column">
              <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Company Name" required formControlName="companyName" readonly="readonly">

                </mat-form-field>
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Company Type" required formControlName="companyType" readonly="readonly">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Company Website" required formControlName="companyWebsite" readonly="readonly">

                </mat-form-field>
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Number of Employees" required formControlName="numberofEmployees" readonly="readonly">

                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
    <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <form [formGroup]="personalForm" fxFlex="60" fxFlex.xs="100" fxFlex.md="40" fxFlex.lg="40">
        <mat-card class="card-content">
          <mat-card-subtitle class="card-title">Contact Details</mat-card-subtitle>

          <mat-card-content align="center">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false" fxLayout.lt.md="column">
              <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="First Name" required formControlName="firstName" readonly="readonly">

                </mat-form-field>
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Contact Number" required formControlName="mobileNumber" readonly="readonly">

                </mat-form-field>
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Email" required formControlName="emailId" readonly="readonly">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Last Name" required formControlName="lastName" readonly="readonly">

                </mat-form-field>
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="addresss" required formControlName="address" readonly="readonly">

                </mat-form-field>
                <mat-form-field style="margin: 10px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                  <input matInput placeholder="Position" required formControlName="designation" readonly="readonly">

                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
    <div fxLayout="row wrap" style="width:90%;" class="w-100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" nsStyle.sm="width:100%;" ngStyle.xs="width:100%">
      <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>

              <mat-panel-title style="color:rgba(0,0,0,.54);" class="expansion-title ">
                Agreement Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <n-file-upload (change)="preview($event.target.files)" #file (click)="uploadFile(file)"></n-file-upload>
            </div>
            <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="agreementDataSource.data.length &lt; 1 ? true : false" [fxHide]="agreementDataSource.data.length &lt; 1 ? false : true">
                <div>
                  No Agreements Uploaded</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="agreementDataSource.data.length &gt; 0 ? true: false" [fxHide]="agreementDataSource.data.length &gt; 0 ? false : true">
                <div fxLayout="column" class="table-bg-none" style="width:100%;">
                  <table mat-table [dataSource]="agreementDataSource" class="table-width-fix">
                    <tr mat-header-row *matHeaderRowDef="[&apos;index&apos;,&apos;name&apos;,&apos;type&apos;,&apos;date&apos;,&apos;dda5123e-2a43-1208-3215-93f6a1597e1b&apos;]"></tr>
                    <tr mat-row *matRowDef="let row; columns: [&apos;index&apos;,&apos;name&apos;,&apos;type&apos;,&apos;date&apos;,&apos;dda5123e-2a43-1208-3215-93f6a1597e1b&apos;];"></tr>

                    <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef>S.No</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{i+1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>File Name</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef>Type</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.type}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef>Date</th>
                      <td mat-cell *matCellDef="let table; let i = index;">{{table.date}}</td>
                    </ng-container>

                    <ng-container matColumnDef="dda5123e-2a43-1208-3215-93f6a1597e1b">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let table">
                        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button color="primary">Add Title</button>
                          <mat-icon color="warn">delete</mat-icon>
                        </div>
                      </td>
                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div fxLayout="row wrap" style="width:90%;" class="w-100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" ngStyle.xs="width:100%;">
      <div fxLayout="column " style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>

              <mat-panel-title style="color:rgba(0,0,0,.54);" class="expansion-title ">
                Developer Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column " fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column" class="header-cell">

                <div fxLayout="row" fxLayoutAlign="end">
                  <div fxLayout="column" fxFlex="30">
                    <mat-form-field fxFlex="100">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                  </div>
                </div>
                <table mat-table [dataSource]="dataSource" class="table-width-fix">
                  <tr mat-header-row *matHeaderRowDef="[&apos;index&apos;,&apos;lastname&apos;,&apos;position&apos;,&apos;email&apos;,&apos;phone&apos;,&apos;experience&apos;,&apos;2d5fbe64-bbfe-ab63-3eb9-c55796dd79e3&apos;,&apos;46c01124-9259-043a-8c45-994becc3ca9e&apos;]"></tr>
                  <tr mat-row *matRowDef="let row; columns: [&apos;index&apos;,&apos;lastname&apos;,&apos;position&apos;,&apos;email&apos;,&apos;phone&apos;,&apos;experience&apos;,&apos;2d5fbe64-bbfe-ab63-3eb9-c55796dd79e3&apos;,&apos;46c01124-9259-043a-8c45-994becc3ca9e&apos;];"></tr>

                  <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">No</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{i+1}}</td>
                  </ng-container>

                  <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Name</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.firstname}} {{ table.lastname}}</td>
                  </ng-container>

                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Position</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.position}}</td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Email Id</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.email}}</td>
                  </ng-container>

                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Contact No</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.phone}}</td>
                  </ng-container>

                  <ng-container matColumnDef="experience">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Experience</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.experience}}</td>
                  </ng-container>

                  <ng-container matColumnDef="2d5fbe64-bbfe-ab63-3eb9-c55796dd79e3">
                    <th mat-header-cell *matHeaderCellDef>Certificate</th>
                    <td mat-cell *matCellDef="let table" headerclass="tab-partner-header" columnclass="tab-partner-data">
                      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-button color="primary" (click)="addCertificateDialog(true)">Upload</button></div>
                      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-button color="accent" (click)="addCertificateDialog(false)">Preview</button></div>
                      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-button color="warn" (click)="cancelCertificateDialog()">Cancel</button></div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="46c01124-9259-043a-8c45-994becc3ca9e">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let table" headerclass="tab-partner-header" columclass="tab-partner-data">
                      <mat-icon color="primary">edit</mat-icon>
                      <mat-icon style="cursor:pionter;" (click)="openDeleteDialog(table)" color="warn">delete</mat-icon>
                    </td>
                  </ng-container>
                </table>
                <mat-paginator [length]="10" [pageSize]="3" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>

              </div>
            </div>
            <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" (click)="addDeveloper()">
                <mat-icon>add</mat-icon>
              </button></div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div fxLayout="row wrap" style="width:90%;" class="w-100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" ngStyle.xs="width:100%;">
      <div fxLayout="column " style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>

              <mat-panel-title style="color:rgba(0,0,0,.54);" class="expansion-title ">
                Leads
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column " class="partner-dev-table" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column" class="header-cell">

                <div fxLayout="row" fxLayoutAlign="end">
                  <div fxLayout="column" fxFlex="30">
                    <mat-form-field fxFlex="100">
                      <input matInput (keyup)="applyFilterLeads($event.target.value)" placeholder="Search">
                    </mat-form-field>
                  </div>
                </div>
                <table mat-table [dataSource]="leadsDataSource" class="table-width-fix">
                  <tr mat-header-row *matHeaderRowDef="[&apos;index&apos;,&apos;organisationName&apos;,&apos;opportunityType&apos;,&apos;location&apos;,&apos;leadGeneratedDate&apos;,&apos;orgWebsite&apos;]"></tr>
                  <tr mat-row *matRowDef="let row; columns: [&apos;index&apos;,&apos;organisationName&apos;,&apos;opportunityType&apos;,&apos;location&apos;,&apos;leadGeneratedDate&apos;,&apos;orgWebsite&apos;];"></tr>

                  <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">No</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{i+1}}</td>
                  </ng-container>

                  <ng-container matColumnDef="organisationName">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Organization Name</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.organisationName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="opportunityType">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Opportunity Type</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.opportunityType}}</td>
                  </ng-container>

                  <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Location</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.location}}</td>
                  </ng-container>

                  <ng-container matColumnDef="leadGeneratedDate">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Date of Creation</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.leadGeneratedDate}}</td>
                  </ng-container>

                  <ng-container matColumnDef="orgWebsite">
                    <th mat-header-cell *matHeaderCellDef class="tab-partner-header">Website</th>
                    <td mat-cell *matCellDef="let table; let i = index;" class="tab-partner-data">{{table.orgWebsite}}</td>
                  </ng-container>
                </table>
                <mat-paginator [length]="10" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>

              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>