<div fxLayout="row wrap" class="background" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="margin-tb" fxFlex="100" fxLayoutGap="2em" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <h2 style="color:rgba(0,0,0,.7);" class="header">
        Marketing Collaterals</h2>
    </div>
    <div fxLayout="row wrap" style="width:100%;" fxLayoutGap="1em" fxLayoutAlign="space-between none" [fxShow]="true" [fxHide]="false">
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-grid-list cols="4">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/marketingimg6.jpg" class="img-size"><img imgSrc="Web/marketingimg5.jpg" class="img-size"></div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/marketingimg3.jpg" class="img-size"><img imgSrc="Web/marketingimg2.jpg" class="img-size"></div>
              </div>
            </mat-grid-list>
          </div>
          <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-grid-list cols="4">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/marketingimg4.jpg" class="img-size"><img imgSrc="Web/developerimg1.jpg" class="img-size"></div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/partner-details1.jpg" class="img-size"><img imgSrc="Web/bgimg5.jpg" class="img-size"></div>
              </div>
            </mat-grid-list>
          </div>
          <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-grid-list cols="4">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/partner-details1.jpg" class="img-size"><img imgSrc="Web/partner-details2.jpg" class="img-size"></div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/partner-details3.jpg" class="img-size"><img imgSrc="Web/bgimg5.jpg" class="img-size"></div>
              </div>
            </mat-grid-list>
          </div>
          <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-grid-list cols="4">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/marketingimg6.jpg" class="img-size"><img imgSrc="Web/marketingimg5.jpg" class="img-size"></div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/marketingimg3.jpg" class="img-size"><img imgSrc="Web/marketingimg2.jpg" class="img-size"></div>
              </div>
            </mat-grid-list>
          </div>
          <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row wrap" style="width:100%;margin-bottom:30px;" fxLayoutGap="1em" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <mat-grid-list cols="4">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><video controls style="width:200px;">

              </video></div>
          </mat-grid-list>
          <div fxLayout="row wrap" style="margin-top:20px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <mat-grid-list cols="4">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><video controls style="width:200px;">

              </video></div>
          </mat-grid-list>
          <div fxLayout="row wrap" style="margin-top:20px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <mat-grid-list cols="4">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><video controls style="width:200px;">

              </video></div>
          </mat-grid-list>
          <div fxLayout="row wrap" style="margin-top:20px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="gallery-card-content">
        <mat-card-content>
          <mat-grid-list cols="4">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><video controls style="width:200px;">

              </video></div>
          </mat-grid-list>
          <div fxLayout="row wrap" style="margin-top:20px;" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-mini-fab style="background:rgba(0,0,0,.7); color: #fff;" class="add-icon">
              <mat-icon>add</mat-icon>
            </button></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>