<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/logo-dark.png" width="300px"></div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <form class="bg-white">
      <h3 class="text-center">
        Welcome back to Neutrinos!</h3>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="Email addresss" required>
          <mat-label>Email address</mat-label>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput type="{{isTextFieldType ? &apos;text&apos; : &apos;password&apos;}}" placeholder="Password" required>
          <mat-label>Password</mat-label>
          <mat-icon matSuffix (click)="isTextFieldType = !isTextFieldType">{{isTextFieldType ? &apos;visibility&apos; : &apos;visibility_off&apos;}}</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="w-100" color="warn" type="submit">Sign In</button></div>
    </form>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <p class="text-warn text-center">
      Forgot Password?</p>
  </div>
</div>