<div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <form [formGroup]="developerForm">
      <div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
        <h2>
          Add Developer</h2>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="firstName" required formControlName="firstName">
          <mat-error align="start" *ngIf="firstName.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
          <mat-error align="start" *ngIf="firstName.hasError(&apos;maxlength&apos;)">can&apos;t enter more than 20 characters</mat-error>
          <mat-error align="start" *ngIf="firstName.hasError(&apos;pattern&apos;)">Enter only characters</mat-error>
          <mat-label>First Name</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="lastname" required formControlName="lastName">
          <mat-error align="start" *ngIf="lastName.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
          <mat-error align="start" *ngIf="lastName.hasError(&apos;maxlength&apos;)">can&apos;t enter more than 20 characters</mat-error>
          <mat-error align="start" *ngIf="lastName.hasError(&apos;pattern&apos;)">Enter only Characters</mat-error>
          <mat-label>Last Name</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="email" required formControlName="email">
          <mat-error align="start" *ngIf="email.hasError(&apos;required&apos;)">Mandatory Field</mat-error>
          <mat-error align="start" *ngIf="email.hasError(&apos;pattern&apos;)">Invalid Email Id</mat-error>
          <mat-label>Email Id</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="  center" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <mat-select formControlName="position" class="select" placeholder="position">
            <mat-option [value]="&apos;Developer&apos;" disabled="false">Developer</mat-option>
            <mat-option [value]="&apos;Tester&apos;" disabled="false">Tester</mat-option>
            <mat-option [value]="&apos;Softwer Engineer&apos;" disabled="false">Softwer Engineer</mat-option>
            <mat-option [value]="&apos;php Developer&apos;" disabled="false">php Developer</mat-option>
            <mat-option [value]="&apos;Software Analyst&apos;" disabled="false">Software Analyst</mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="  center" [fxShow]="true" [fxHide]="false">
        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput placeholder="experience" formControlName="experience">
          <mat-error align="start" *ngIf="experience.hasError(&apos;pattern&apos;)">Enter only in Numbers</mat-error>
          <mat-error align="start" *ngIf="experience.hasError(&apos;maxlength&apos;)">Invalid Input</mat-error>
          <mat-label>Experience</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button [mat-dialog-close] color="primary" (click)="submit(developerForm.value)">Add Developer</button></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="active">
        <mat-form-field>
          <textarea matInput placeholder="Text Area" required></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>