<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
      <header>
        <mat-toolbar fxFlex.xs="100" class="mat-toolbar">
          <div fxLayout="row wrap" style="width:100%;height:auto;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="40"><img imgSrc="Web/logo.png" width="250px"></div>
            <div fxLayout="row " style="width:40%;" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false" fxHide.xs="true"><button mat-button class="home_btn" routerLink="/home">Home</button><button mat-button class="home_btn" routerLink="/contact">Contact Us</button><button mat-button class="home_btn" routerLink="/login/partnerlogin">Login</button></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="10" fxHide.lg="true"><button mat-mini-fab [matMenuTriggerFor]="menu">
                <mat-icon>view_headline</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-button class="home_btn" routerLink="/home">Home</button><button mat-button class="home_btn" routerLink="/contact">Contact Us</button><button mat-button class="home_btn" routerLink="/login/partnerlogin">Login</button></div>
              </mat-menu>
            </div>
          </div>
        </mat-toolbar>
      </header>
      <router-outlet></router-outlet>
      <div fxLayout="row wrap" class="home_col2" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" ngStyle.lg=" height: 500px;">
        <div ngStyle.xs="height:200px;text-align:center;" style="color:white;margin-top:100px;">
          BUILD INNOVATIVE APPLICATIONS AT THE SPEED OF THOUGHT</div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false" fxFlex.xs="100">
      <mat-card fxFlex.xs="90" class="card_video">
        <img mat-card-image class="height:300px;" imgSrc="Web/Neutrinos-Gif-2.gif">
      </mat-card>
      <mat-card fxFlex.xs="90" ngStyle.xs="margin:0px 0px 20px 0px;" class="h_card">
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><span style="font-weight:bold;" class="whypartner">
                Why partner with us?</span></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <h4>
                  See what Neutrinos can do with Partners</h4>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
                <p>
                  At Neutrinos, our vision is to nurture an ecosystem in the application development space where partners from diverse backgrounds and expertise could collaborate with and complement each other.

                  Our efforts are aligned towards creating a network where partners across different spheres, including System Integrators, Resellers and Implementors use Neutrinos Platform as the conduit to benefit from each other&#x2019;s work.</p>
              </div>
            </div>
            <div fxLayout="column wrap" style="width:100%;padding:0px 10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web/partner_img1-3.jpg" ngStyle.lg="height:220px"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <footer class="footer-class">
      <p>
        &#xA9;2019 Neutrinos</p>
    </footer>
  </div>
</div>